h1 {
    font: 1.2rem;
    font-weight: 700;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.flex .content lightning-button {
    padding: .2rem;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.between lightning-input {
    width: 100%;
    padding: .2rem
}