.THIS {
    background-color: #fff;
    border-radius: 2.5px;
    
    padding: 1rem;
    
    font-weight: 700;
}

.THIS h1 {
    font-size: 1.75rem;
}

.THIS span.msg {
    color: green;
}

.THIS .flex {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.THIS .flex button {
    border: 0;    
    padding: .5rem 1rem .5rem
}